*.swp
.DS_Store
/build
/example/pf/src/pf_cv_*.cpp
/example/random/src/random_distribution_*.cpp
/example/random/src/random_distribution_perf_*.cpp
/example/random/src/random_rng_*.cpp
/example/random/src/random_test_*.cpp
/manual/fig/pf.pdf
/manual/manual.aux
/manual/manual.bbl
/manual/manual.bcf
/manual/manual.blg
/manual/manual.fdb_latexmk
/manual/manual.fls
/manual/manual.idx
/manual/manual.ilg
/manual/manual.ind
/manual/manual.log
/manual/manual.lot
/manual/manual.out
/manual/manual.pdf
/manual/manual.run.xml
/manual/manual.tex.latexmain
/manual/manual.toc
/manual/prg/gmm
/manual/prg/pf
/manual/prg/pf.est
/manual/prg/pf.pdf
/manual/prg/pf.tex
/manual/prg/pf_ocl
/manual/prg/pf_seq
/manual/prg/pf_tbb
/manual/prg/program_option
/manual/prg/progress
/manual/tab/random_distribution_*.aux
/manual/tab/random_distribution_*.log
/manual/tab/random_distribution_*.pdf
/manual/tab/random_distribution_*.tex
/manual/tab/random_rng_*.aux
/manual/tab/random_rng_*.log
/manual/tab/random_rng_*.pdf
/manual/tab/random_rng_*.tex
/manual/tex/*.aux
/manual/tex/inc.tex
