*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.swp
*.toc
.DS_Store
/build
/manual/manual.tex.latexmain
/manual/tab/*.tex
/manual/tab/random_distribution
/manual/tab/random_rng
/manual/tex/inc.tex
